body {
  background: #111;
  color: white;
  font-family: sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
}

.manga {
  text-align: center;
}

.manga img {
  width: 150px;
  border-radius: 8px;
}
